<div class="mypage">
    <h1><%= @user.name %>'s Page</h1>
    <div class="mypage-favorites container">
        <h6><%= link_to "投稿一覧へ", @user %></h6>
        <h3 class="font-weight-normal">お気に入り一覧</h3>
        <%= render "posts/favorites", favorites: @favorites %>
    </div>
</div>
<div class="paginate"><%= paginate @favorites %></div>