<div class="mypage">
    <h1><%= @user.name %>'s Page</h1>
    <div class="mypage-posts container">
        <h3>投稿一覧</h3>
        <h3><%= link_to "お気に入り一覧", likes_user_path(@user) %></h3>
        <%= render "posts/posts", posts: @posts %>
    </div>
</div>
