    <section class="top">
        <div class="top-content">
            <h2>Workplace Sharing</h2>
            <p>
                ああああああああああああああああああああああああ<br>あああああああああああああああああ
            </p>    
        </div>
    </section>
    <section class="main">
        <div class="main-content">
            <button class="main-btn2"><a href="#">投稿一覧</a></button>
            <p>
                ああああああああああああああああああああああああ<br>あああああああああああああああああ
            </p>
            <button class="main-btn2"><a href="#">ユーザー登録</a></button>
            <p>
                ああああああああああああああああああああああああ<br>あああああああああああああああああ
            </p>    
        </div>
    </section>
    