    <section class="top">
        <div class="top-content">
            <h2>Workplace Sharing</h2>
            <p>
                ああああああああああああああああああああああああ<br>あああああああああああああああああ
            </p>    
        </div>
    </section>
<% if logged_in? %>
    <section class="main">
        <div class="main-content">
            <button class="main-btn2 btn btn-primary"><%= link_to "投稿一覧へ", posts_path, class: "text-white" %></button>
            <p>
                ああああああああああああああああああああああああ<br>あああああああああああああああああ
            </p>
        </div>
    </section>
<% else %>
    <section class="main">
        <div class="main-content">
            <button class="main-btn2 btn btn-primary"><%= link_to "投稿一覧へ", posts_path, class: "text-white" %></button>
            <p>
                ああああああああああああああああああああああああ<br>あああああああああああああああああ
            </p>
            <button class="main-btn2 btn btn-primary"><%= link_to "ユーザー登録へ", new_user_path, class: "text-white" %></button>
            <p>
                ああああああああああああああああああああああああ<br>あああああああああああああああああ
            </p>    
        </div>
    </section>
<% end %>
    